In [2]:
number = 3
if number > 2:
    print(f"{number} is greater than 2")
else:
    print(f"{number} is less or equal 2")

3 is greater than 2

In [3]:
hungry = True
thirsty = True

if thirsty:
    print("Give me water!")
elif hungry:
    print("Feed me!")
else: 
    print("I'm ok!")

Give me water!

In [4]:
items = [1, 4, 5, 6]
for item in items:
    print(item)

1
4
5
6

In [5]:
for item in items:
    print('hello')

hello
hello
hello
hello

In [6]:
for num in items:
    if num % 2 == 0:
        print(num)

4
6

In [7]:
list_sum = 0

for num in items:
    list_sum += num
    
    
print(list_sum)

16

In [8]:
for letter in "oskar":
    print(letter)

o
s
k
a
r

In [10]:
my_list = [(1,2), (3,4), (1,2)] #unpacking

for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
1
2

In [12]:
d = {"k1": 1, "k2": 2, "k3": 3}  #we only get keys

for item in d:
    print(item)

k1
k2
k3

In [13]:
for item in d:
    print(d[item])

1
2
3

In [15]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [16]:
for n in range(6):
    print(n)

0
1
2
3
4
5

In [17]:
for n in range(1, 6):
    print(n)

1
2
3
4
5

In [19]:
x = 10

while x > 0:
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In [20]:
#break - breaks out of closest loop
#continue - goes to the top of the closest loop
#pass does nothing at all - to avoid syntax error

x = [1,2,3]

for item in x:
    pass

In [21]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [23]:
for item in enumerate("oskar"):
    print(item)

(0, 'o')
(1, 's')
(2, 'k')
(3, 'a')
(4, 'r')

In [24]:
for index, letter in enumerate("oskar"):
    print(f"{index} {letter}")

0 o
1 s
2 k
3 a
4 r

In [25]:
mylist1 = [4, 5, 6]
mylist2 = ['a', 'x', 'd']

for item in zip(mylist1, mylist2):
    print(item)

(4, 'a')
(5, 'x')
(6, 'd')

In [27]:
'x' in "okxxx"

True

In [28]:
1 in [4, 5, 6]

False

In [29]:
min(mylist1)

4

In [30]:
from random import shuffle

In [32]:
mylist = [1,2,3,4,5,6,7,8]

shuffle(mylist)

In [33]:
print(mylist)

[4, 1, 6, 7, 8, 5, 2, 3]

In [34]:
from random import randint

In [35]:
print(randint(0,100))

15

In [37]:
result = input('Enter a number: ')

print(result) #it is a string version of input

Enter a number: 20
20

In [38]:
int(result) #cast

20

In [40]:
mylist = [letter for letter in "oskar"]
print(mylist)

['o', 's', 'k', 'a', 'r']

In [41]:
mylist = [x if x % 2 == 0 else "odd" for x in range (0,11)]

In [42]:
print(mylist)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]